
# Cache dell'interprete Python

__pycache__/
*.py[cod]
*$py.class

# Ambienti virtuali

.venv/
venv/
ENV/
env/


# File di stato dei notebook (Jupyter)

.ipynb_checkpoints/
Thumbs.db



# File temporanei di sistema (Windows)

ehthumbs.db
Desktop.ini
*.tmp
*.bak